@model Web.Models.EditUserPasswordViewModel

@{
    ViewBag.Title = "Change User Password";
}

<script type="text/javascript">
    $(document).ready(
        function () {
            $("#txt1").html("Reset User's Password ");
            $("#txt2").html("(change password detail for a user)");
            //$("#txtWarning").html("System failure imminent, carefully change COMPUTE TYPE & CLASS HIERARCHY under strict change request, and only when agreed and advised by the SCHOOL ADMINISTRATORS!");
        });
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="col-md-4">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">CHANGE USER PASSWORD</h4>
            <div class="panel-options">
                
            </div>
        </div>
        <div class="panel-body">
            <form role="form" id="form1" method="post" class="validate">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)

                <div hidden class="form-group">
                    @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label " })
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                    <div>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                
                <div class="form-group">
                    <div>
                        <button input type="submit" class="btn btn-info btn-block"><i class="el-play"></i> Save </button>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <div class="control-label">
                        <div>@Html.ActionLink("Go Back", null, null, null, new { href = Request.UrlReferrer })</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
}
 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
