
@{
    ViewBag.Title = "Opd";
}

<script type="text/javascript">
    $(document).ready(
        function () {
            $("#txt1").html("OPD");
            $("#txt2").html("(Take Out Patient's Bio Vital Data)");
        });
</script>


<div id="pageDP">
    <div class="col-md-4" id="pageGridPatient">

        @(Html.Kendo().Grid<Repo.Models.vwFlowQueueAttendance>()
                .Name("GridOPD")
                .NoRecords("No patient on visit")
                .Columns(columns =>
                {
                    columns.Bound(c => c.AttCArdNumber).Title("");
                    columns.Bound(c => c.FirstName).Title("");
                    columns.ForeignKey(p => p.FQCurrentSTatus, (System.Collections.IEnumerable)ViewData["vstatus"], "Key", "Value")
                    .Title("");
                    columns.Bound(c => c.FQTimeStamp).Format("{0:dd/MM/yyyy hh:mm: tt}").Title("");
                    columns.Bound(c => c.FQLastUpdatedBy).Title("");
                })
                .ToolBar(toolbar =>
                {
                toolbar.Template(@<text>
            <div class="row">
                <div class="col-sm-2 col-md-4 toolbar">
                    @(Html.Kendo().DropDownList()
                                  .Name("consDrpdwn")
                                  //.HtmlAttributes(new { style = "width:100%;" })
                                  .OptionLabel("Select a Room...")
                                  .DataTextField("Text")
                                  .DataValueField("Value")
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("GetConsultingRoomsForGrid", "Main");
                                      });
                                  })
                    )
                </div>

                <div class="col-sm-4 col-md-6 toolbar">
                    @(Html.Kendo().Button()
                        .Name("iconButton")
                        .Tag("a")
                        .Icon("refresh")
                        .Content("Send to Consulting")
                        .Events(e => e.Click("csonClick"))
                        //.Content("<span class='fa-share' title='Click to run process'>Send to Consulting</span>")

                    )
                </div>
            </div>
                </text>);
                })
                .Resizable(r => r.Columns(true))
                .Scrollable(sc => sc.Endless(true))
                .Sortable()
                .Selectable(selectable => selectable
                .Mode(GridSelectionMode.Single))
                .Mobile(MobileMode.Auto)
                .Pageable(p => p.Numeric(false)
                    .PreviousNext(false)
                    .Refresh(true)
                )
                .Events(ev => ev.Change("onChange"))
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(false)
                .ServerOperation(false)
                .PageSize(50)
                .Events(e =>
                {
                    e.Error("error_handler");
                })
                .Model(model =>
                {
                    model.Id(p => p.FQID);
                })
                .Read(read => read.Action("Read_GetOPDFlowQueues", "ProcessFlow"))
                )
        )
    </div>
    <div class="col-md-8" id="scoreList">
        @*@Html.Partial("_PartialPageSelection")*@
        @(Html.Kendo().Grid<Repo.DTOs.dto_BioVital>()
                .Name("GridBV")
                .NoRecords("No patient's biovital found")
                .Columns(columns =>
                {
                    //columns.Bound(c => c.CardNumber);
                    columns.Bound(c => c.C_Date).Format("{0:dd/MM/yyyy hh:mm: tt}").Title("Date");
                    columns.Bound(c => c.BP);
                    columns.Bound(c => c.Height);
                    columns.Bound(c => c.Weight);
                    columns.Bound(c => c.Mass);
                    columns.Bound(c => c.Pulse);
                    columns.Bound(c => c.Temp);
                    columns.Bound(c => c.Fasting);
                    columns.Bound(c => c.RBS);
                    columns.ForeignKey(c => c.RecordedById, (System.Collections.IEnumerable)ViewData["recBy"], "Value", "Text")
                    .Title("Recorded By");
                })
                .ToolBar(toolbar =>
                 {
                     toolbar.Create();
                     toolbar.Save();
                     toolbar.Excel();
                 })
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                .AutoBind(false)
                .Resizable(r => r.Columns(true))
                .Scrollable(sc => sc.Endless(true))
                .Sortable()
                .Selectable(selectable => selectable
                .Mode(GridSelectionMode.Single))
                .Mobile(MobileMode.Auto)
                .Pageable(p => p.Numeric(false)
                    .PreviousNext(false)
                    .Refresh(true)
                )
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(false)
                .ServerOperation(false)
                .PageSize(50)
                .Events(e =>
                {
                    e.Error("error_handler");
                })
                .Model(model =>
                {
                    model.Id(p => p.ID);
                    model.Field(p => p.C_Date).Editable(false);
                    model.Field(p => p.RecordedById).Editable(false);
                })
                    .Read(read => read.Action("PatientsBiovital5_Read", "Patient").Data("filterData"))
                    .Update(update => update.Action("PatientsBioVital_BatchUpdate", "Patient"))
                    .Create(c => c.Action("PatientsBiovital5_Create", "Patient").Data("filterData"))
                    .Destroy(d => d.Action("PatientsBiovital5_Read", "Patient"))
                )
        )
        <script>
            function filterData() { //AttdID
                var grid = $("#GridOPD").data("kendoGrid");
                var selectedItem = grid.dataItem(grid.select());
                if (selectedItem != null) {
                    return {
                        patientID: selectedItem.AttdPatientID
                    };
                } else {
                    return {
                        patientID: 0
                    };
                }
            };
        </script>
    </div>

</div>

@Html.Partial("~/Views/Shared/_PartialProgressBar.cshtml")

<script src="~/Scripts/appjs/opd.js"></script>
<script src="~/Scripts/custom/progressBar.js"></script>

