@model Repo.DTOs.dto_Patients

<h3>Customized Person edit template</h3>
<br />
@Html.HiddenFor(model => model.ID)

<div>
    @Html.LabelFor(model => model.FirstName)
</div>
<div>
    @Html.TextBoxFor(model => model.FirstName, new { @readonly = "true", style = "border: 0px; " })
    
</div>

<div>
    @Html.LabelFor(model => model.CardNumber)
</div>
<div>
    @Html.TextBoxFor(model => model.CardNumber, new { @readonly = "true" })
    @Html.ValidationMessageFor(model => model.CardNumber)
</div>