
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="SIM Panel" />
    <meta name="author" content="" />
    <title>SIM - App</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="~/layout_assets/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="~/layout_assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link href="~/layout_assets/css/fonts/elusive/css/elusive.css" rel="stylesheet" />
    <link href="~/layout_assets/css/fonts/elusive/css/animation.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/layout_assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/layout_assets/css/xenon-core.css">
    <link rel="stylesheet" href="~/layout_assets/css/xenon-forms.css">
    <link rel="stylesheet" href="~/layout_assets/css/xenon-components.css">
    <link rel="stylesheet" href="~/layout_assets/css/xenon-skins.css">
    <link rel="stylesheet" href="~/layout_assets/css/custom.css">
    <script src="~/layout_assets/js/jquery-1.11.1.min.js"></script>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.nova.mobile.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.nova.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <script src="~/Scripts/kendo/jquery.min.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo/jszip.min.js"></script>


    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>


    <script src="~/Scripts/custom/notificationJs.js"></script>
    <link href="~/Scripts/custom/notificationStyle.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        $(function () {

        $.ajax({
            url: "/Home/GetShlName",
            success: function (data) {
                $("#schldtl").html(data != null ? data : 'N/A');
            }
        })

        $.ajax({
            url: "/Home/GetShlLogo",
            success: function (data) {
                $('#myCanvas').attr("src", "data:image/gif;base64," + data);
            }
        })
        });

    </script>

    <style>
        /*span {
            color: #1C3857;
        }*/
    </style>
</head>
<body class="page-body">



    <div class="page-container">
        <div class="settings-pane">

            <a href="#" data-toggle="settings-pane" data-animate="true">
                &times;
            </a>

            <div class="settings-pane-inner">
                @if (User.Identity.IsAuthenticated)
            {
                    <div class="row">

                        <div class="col-md-4">

                            <div class="user-info">

                                <div class="user-image">
                                    <a href="extra-profile.html">
                                        <img src="~/layout_assets/images/user-2.png" class="img-responsive img-circle" />
                                    </a>
                                </div>

                                <div class="user-details">

                                    <h3>
                                        <a href="/Manage/Index">@User.Identity.GetUserName()</a>

                                        <!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
                                        <span class="user-status is-online"></span>
                                    </h3>

                                    <p class="user-title">App User</p>

                                    <div class="user-links">
                                        <a href="/Manage/Index" class="btn btn-success">Edit Profile</a>
                                        @*<a href="extra-profile.html" class="btn btn-success">Upgrade</a>*@
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="col-md-8 link-blocks-env">

                            <div class="links-block left-sep">
                                <h4>
                                    <span>Account</span>
                                </h4>

                                <ul class="list-unstyled">
                                    <li>
                                        <a href="/Manage/Index">
                                            <i class="fa-angle-right"></i>
                                            Settings
                                        </a>
                                    </li>
                                    <li>
                                        .
                                    </li>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <li>
                                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                                <i class="el-off"></i>
                                                Logout
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <div class="links-block left-sep">
                                <h4>
                                    <a href="#">
                                        <span>Help Desk</span>
                                    </a>
                                </h4>

                                <ul class="list-unstyled">
                                    <li>
                                        <a href="https://sim4eaglesbyte.freshdesk.com/support/home" target="_blank">
                                            <i class="fa-info"></i>
                                            Help
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa-angle-right"></i>
                                            Facebook
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-angle-right"></i>
                                            Twitter
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-angle-right"></i>
                                            Google
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                }
            </div>

        </div>
        <div class="main-content">
            <nav class="navbar horizontal-menu navbar-fixed-top navbar-minimal">
                <!-- set fixed position by adding class "navbar-fixed-top" -->

                <div class="navbar-inner">

                    <!-- Navbar Brand -->
                    <div class="navbar-brand">
                        <a href="/Home/Index" class="logo">
                            <img id="myCanvas" src="" alt="" class="hidden-xs img-responsive img-circle" width="45" />
                            <img id="myCanvas" src="" alt="" class="visible-xs img-responsive img-circle" width="45" />
                        </a>
                        <a href="/Home/Index" class="logo">
                            <h4 style="font-family:'Arial Rounded MT'">SIM</h4>
                        </a>
                        @*<a href="#" data-toggle="settings-pane" data-animate="true">
                                <i class="linecons-cog"></i>
                            </a>*@
                    </div>

                    <!-- Mobile Toggles Links -->
                    <div class="nav navbar-mobile">

                        <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
                        <div class="mobile-menu-toggle">
                            <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
                            <a href="#" data-toggle="settings-pane" data-animate="true">
                                <i class="el-cog"></i>
                            </a>

                            <a href="#" data-toggle="user-info-menu-horizontal">
                                <i class="el-user"></i>
                            </a>

                            <!-- data-toggle="mobile-menu-horizontal" will show horizontal menu links only -->
                            <!-- data-toggle="mobile-menu" will show sidebar menu links only -->
                            <!-- data-toggle="mobile-menu-both" will show sidebar and horizontal menu links -->
                            <a href="#" data-toggle="mobile-menu-horizontal">
                                <i class="el-th"></i>
                            </a>
                        </div>

                    </div>

                    <div class="navbar-mobile-clear"></div>



                    <!-- main menu -->

                    <ul class="navbar-nav">

                        @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
                        {
                <!-- #region Authorization -->
                            <li>
                                <a href="">
                                    <i class="el-lock-circled"></i>
                                    <span style="text-transform: uppercase">Authorization</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="/UsersAdmin/Create">
                                            <i class="el-user"></i>
                                            <span>Add User</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/UsersAdmin/Index">
                                            <i class="el-group"></i>
                                            <span>Manage Users</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/UsersAdmin/RoleIndex">
                                            <i class="el-lock-open"></i>
                                            <span>Manage User-Roles</span>
                                        </a>
                                    </li>
                                    @*<li>
                                            <a href="/Score/ThreshRecompute">
                                                <i class="entypo-mouse"></i>
                                                <span>Recompute Scores</span>
                                            </a>
                                        </li>*@
                                </ul>
                            </li>
                    <!-- #endregion Targets -->
                        }

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="">
                                    <i class="el-wrench-circled"></i>
                                    <span style="text-transform: uppercase">Settings</span>
                                </a>
                                <ul>
                                    <!-- #region Academic Settings -->
                                    <li>
                                        <a href="">
                                            <i class="el-calendar"></i>
                                            <span>Academic</span>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="/Session/Index">
                                                    <i class="el-leaf"></i>
                                                    <span>Session / Term Registration</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/Academic/Index">
                                                    <i class="el-book"></i>
                                                    <span>Class / Term Registration</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/Academic/StudentClassTerm">
                                                    <i class="el-person"></i>
                                                    <span>Student / Term Registration</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/Academic/OptionalSubjectReg">
                                                    <i class="el-indent-right"></i>
                                                    <span>Register Optional Subjects</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/Academic/Overview">
                                                    <i class="el-glasses"></i>
                                                    <span>Registration Overview</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/Academic/Promotion">
                                                    <i class="el-up"></i>
                                                    <span>Manage Promotions</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/Academic/UnRegisterStudents">
                                                    <i class="el-indent-left"></i>
                                                    <span>Unregister Student(s)</span>
                                                </a>
                                            </li>
                                            @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
                                            {
                                                <li>
                                                    <a href="/Academic/OptionalSubjectUnReg">
                                                        <i class="el-eject"></i>
                                                        <span>Unregister Optional Subjects</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <!-- #endregion -->
                                    <!-- #region Administration -->
                                    <li>
                                        <a href="">
                                            <i class="el-website-circled"></i>
                                            <span>Administration</span>
                                        </a>
                                        <ul>
                                            @*<li>
                                                    <a href="/Configuration/Index">
                                                        <i class="entypo-doc-text"></i>
                                                        <span>System Registry</span>
                                                    </a>
                                                </li>*@
                                            <li>
                                                <a href="/Session/CurrentIndex">
                                                    <i class="el-flag"></i>
                                                    <span>Current Academic Period</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Class/Index">
                                                    <i class="el-location"></i>
                                                    <span>Class Settings</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Subject/Manage">
                                                    <i class="el-adjust"></i>
                                                    <span>Manage Subjects</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Class/Subject">
                                                    <i class="el-delicious"></i>
                                                    <span>Class / Subjects Map</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Remark/GradingSystem">
                                                    <i class="el-ok"></i>
                                                    <span>Manage Score Grading</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Remark/PsychomotorGrading">
                                                    <i class="el-ok"></i>
                                                    <span>Manage Psychomotor Grading</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Remark/Psychomotors">
                                                    <i class="el-bookmark"></i>
                                                    <span>Manage Psychomotor / Traits</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Remark/RemarksList">
                                                    <i class="el-compass"></i>
                                                    <span>Manage Remarks</span>
                                                </a>
                                            </li>
                                            @*<li>
                                                    <a href="/Remark/AnalysisTitleList">
                                                        <i class="entypo-gauge"></i>
                                                        <span>Manage Subject Analysis Title</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Remark/OtherGradingSystemList">
                                                        <i class="entypo-gplus"></i>
                                                        <span>Manage Other Grading Systems</span>
                                                    </a>
                                                </li>*@
                                            @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
                                            {
                                                <li>
                                                    <a href="/Configuration/Clients">
                                                        <i class="el-cog"></i>
                                                        <span>Manage Config</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Configuration/ErrorLogs">
                                                        <i class="el-cancel-circled"></i>
                                                        <span>View App Errors</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <!-- #endregion -->
                                    <!-- #region Messaging -->
                                    <li>
                                        <a href="">
                                            <i class="el-mail-circled"></i>
                                            <span>Messaging</span>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="/Message/Sms">
                                                    <i class="el-phone"></i>
                                                    <span>Send SMS</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Message/SmsLog">
                                                    <i class="el-flag"></i>
                                                    <span>SMS Log</span>
                                                </a>
                                            </li>
                                            @*<li>
                                                    <a href="/Message/Email">
                                                        <i class="el-mail"></i>
                                                        <span>Send Email</span>
                                                    </a>
                                                </li>*@
                                            <li>
                                                <a href="">
                                                    <i class="el-cog"></i>
                                                    <span>Configure</span>
                                                </a>
                                                <ul>
                                                    <li>
                                                        <a href="/Configuration/Smssetting">
                                                            <i class="el-wrench-circled"></i>
                                                            <span>SMS Settings</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/Configuration/Emailsetting">
                                                            <i class="el-wrench-circled"></i>
                                                            <span>Email Settings</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- #endregion -->
                                </ul>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Account"))
                        {
                    <!-- #region Account Unit -->
                            <li>
                                <a href="#">
                                    <i class="el-credit-card"></i>
                                    <span style="text-transform: uppercase">Accounts</span>
                                </a>

                                <ul>
                                    <li>
                                        <a href="/Dashboard/Index">
                                            <i class="el-gauge"></i>
                                            <span>Dashboard</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="el-clipboard"></i>
                                            <span>Invoicing</span>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="/Payment/InvoiceIndex">
                                                    <i class="el-indent-left"></i>
                                                    <span>Invoice Student(s)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Payment/InvoiceOverviewIndex">
                                                    <i class="el-indent-right"></i>
                                                    <span>Invoice Overview / Undo</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Payment/CreditorsAndDebtors">
                                                    <i class="el-braille"></i>
                                                    <span>Current Invoices</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="/Payment/Pay">
                                            <i class="el-basket"></i>
                                            <span>Pay Fees</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="el-gift"></i>
                                            <span>Receipts</span>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="/Report/Receipt">
                                                    <i class="el-print"></i>
                                                    <span>Print Multiple Receipts</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Report/Rcpt">
                                                    <i class="el-print"></i>
                                                    <span>Print Single Receipt</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Report/Rcpt">
                                                    <i class="el-filter"></i>
                                                    <span>Find Receipt</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="el-picture"></i>
                                            <span>History</span>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="/Payment/Creditors">
                                                    <i class="el-thumbs-up"></i>
                                                    <span>Creditors</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Payment/Debtors">
                                                    <i class="el-thumbs-down"></i>
                                                    <span>Debtors</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="">
                                            <i class="el-cog"></i>
                                            <span>Settings</span>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="/payment/glaccounts">
                                                    <i class="el-attach"></i>
                                                    <span>General Ledger</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/payment/serviceitems">
                                                    <i class="el-blind"></i>
                                                    <span>Service Items</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/payment/feeschedule">
                                                    <i class="el-edit-alt"></i>
                                                    <span>Fee Schedule</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="">
                                            <i class="el-delicious"></i>
                                            <span>Scholarship</span>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="/Payment/Scholarship">
                                                    <i class="el-record"></i>
                                                    <span>Scholarship Schedule</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Payment/ApplyScholarship">
                                                    <i class="el-play-circled"></i>
                                                    <span>Apply Scholarship</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Payment/RemoveScholarship">
                                                    <i class="el-stop-circled"></i>
                                                    <span>Revoke Scholarship</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                    <!-- #endregion -->
                        }

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Teacher"))
                        {
                            <li>

                                <a href="/">
                                    <i class="el-group-circled"></i>
                                    <span style="text-transform: uppercase">Users</span>
                                </a>
                                <ul>
                                    <!-- #region Teachers Unit -->
                                    <li>
                                        <a href="/Student/Index">
                                            <i class="el-torso"></i>
                                            <span>Teachers</span>
                                        </a>
                                        <ul>
                                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                            {
                                                <li>
                                                    <a href="/Teacher/ImportProfile">
                                                        <i class="el-upload"></i>
                                                        <span>Import Teachers</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Teacher/Index">
                                                        <i class="el-resize-small"></i>
                                                        <span>Manage Teachers / Map Subjects</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Teacher/SubjectTeachersList">
                                                        <i class="el-network"></i>
                                                        <span>Subject &amp; Teachers</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Teacher/FormTeachersIndex">
                                                        <i class="el-globe"></i>
                                                        <span>Classes / Teachers Map</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Teacher/FormTeachersList">
                                                        <i class="el-accessibility"></i>
                                                        <span>Classes &amp; Teachers</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Teacher/ManageLogin">
                                                        <i class="el-key"></i>
                                                        <span>Manage Login</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Teacher/ManageNoLogin">
                                                        <i class="el-universal-access"></i>
                                                        <span>Create Login</span>
                                                    </a>
                                                </li>
                                            }

                                        </ul>
                                    </li>
                                    <!-- #endregion -->
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                            <!-- #region Students Unit -->
                                        <li>
                                            <a href="/Student/Index">
                                                <i class="el-child"></i>
                                                <span>Students</span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/Student/ImportProfile">
                                                        <i class="el-upload"></i>
                                                        <span>Import Students</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Student/Index">
                                                        <i class="el-smiley"></i>
                                                        <span>Manage Students</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Student/MatchParent">
                                                        <i class="el-tag"></i>
                                                        <span>Map Parents</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Student/InactiveIndex">
                                                        <i class="el-block"></i>
                                                        <span>Inactive Students</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Student/Duplicate">
                                                        <i class="el-folder"></i>
                                                        <span>Duplicated Students</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Student/ManageLogin">
                                                        <i class="el-key"></i>
                                                        <span>Manage Login</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Student/ManageNoLogin">
                                                        <i class="el-universal-access"></i>
                                                        <span>Create Login</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                            <!-- #endregion -->
                            <!-- #region Parents Unit -->
                                        <li>
                                            <a href="/Student/Index">
                                                <i class="el-adult"></i>
                                                <span>Parents</span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/Parent/ImportProfile">
                                                        <i class="el-upload"></i>
                                                        <span>Import Parents</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Parent/Index">
                                                        <i class="el-target"></i>
                                                        <span>Manage Parents</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Parent/ManageLogin">
                                                        <i class="el-key"></i>
                                                        <span>Manage Login</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Parent/ManageNoLogin">
                                                        <i class="el-universal-access"></i>
                                                        <span>Create Login</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>


                            <!-- #endregion -->
                                    }
                                </ul>
                            </li>
                        }

                        <!--#region PARENT MENU-->
                        @if (User.IsInRole("Parent") && !User.IsInRole("Teacher"))
                        {
                            <li>
                                <a href="/Parent/ParentHome">
                                    <i class="el-record"></i>
                                    <span style="text-transform: uppercase">Academic Reports</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="el-info-circled"></i>
                                    <span style="text-transform: uppercase">Invoices</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="el-credit-card"></i>
                                    <span style="text-transform: uppercase">Payment Receipts</span>
                                </a>
                            </li>
                        }
                        <!--#endregion PARENT MENU-->
                        <!--#region SCORE NAV should be under here-->
                        <!--#endregion SCORE NAV should be under here-->
                    </ul>


                    <!-- notifications and other links -->
                    <ul class="nav nav-userinfo navbar-right">

                        <li class="search-form">
                            <!-- You can add "always-visible" to show make the search input visible -->

                            <form name="userinfo_search_form" method="get" action="extra-search.html">
                                <input type="text" name="s" class="form-control search-field" placeholder="Type to search..." />

                                <button type="submit" class="btn btn-link">
                                    <i class="linecons-search"></i>
                                </button>
                            </form>

                        </li>
                        <li><a href="/Home/Index"><i class="el-home-circled"></i>Home</a></li>
                        @using Microsoft.AspNet.Identity
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown user-profile">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/layout_assets/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
                                    <span>
                                        @User.Identity.GetUserName()
                                        @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage")*@
                                        <i class="fa-angle-down"></i>
                                    </span>
                                </a>

                                <ul class="dropdown-menu user-profile-menu list-unstyled">

                                    @*<li>
                                            <a href="#settings">
                                                <i class="fa-wrench"></i>
                                                Settings
                                            </a>
                                        </li>*@
                                    <li>
                                        <a href="/Manage/Index">
                                            <i class="fa-user"></i>
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://sim4eaglesbyte.freshdesk.com/support/home" target="_blank">
                                            <i class="fa-info"></i>
                                            Help
                                        </a>
                                    </li>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post,
new { id = "logoutForm" }))
                                    //new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <li class="last">
                                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                                <i class="el-off"></i>
                                                Logout
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>

                </div>

            </nav>

            <div class="content">
                <br />
            </div>
            <br />
            @Html.Partial("_PartialPageHeader")
            <div class="row">
                @RenderBody()
            </div>


        </div>
    </div>

    <footer class="main-footer sticky footer-type-1">

        <div class="footer-inner">

            <!-- Add your copyright text here -->
            <div class="footer-text">
                <p>&copy; @DateTime.Now.Year - SIM (School Information Manager), a product of  <a href="http://www.eaglesbyte.org" target="_blank">Eaglesbyte Innovations</a></p>
            </div>


            <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
            <div class="go-up">

                <a href="#" rel="go-top">
                    <i class="fa-angle-up"></i>
                </a>

            </div>

        </div>

    </footer>

    <!-- Imported styles on this page -->
    <link rel="stylesheet" href="~/layout_assets/css/fonts/meteocons/css/meteocons.css">
    <link rel="stylesheet" href="~/layout_assets/js/datatables/dataTables.bootstrap.css">

    <!-- Bottom Scripts -->
    <script src="~/layout_assets/js/bootstrap.min.js"></script>
    <script src="~/layout_assets/js/TweenMax.min.js"></script>
    <script src="~/layout_assets/js/resizeable.js"></script>
    <script src="~/layout_assets/js/joinable.js"></script>
    <script src="~/layout_assets/js/xenon-api.js"></script>
    <script src="~/layout_assets/js/xenon-toggles.js"></script>
    <script src="~/layout_assets/js/datatables/js/jquery.dataTables.min.js"></script>

    <!-- Imported scripts on this page -->
    <script src="~/layout_assets/js/datatables/dataTables.bootstrap.js"></script>
    <script src="~/layout_assets/js/datatables/yadcf/jquery.dataTables.yadcf.js"></script>
    <script src="~/layout_assets/js/datatables/tabletools/dataTables.tableTools.min.js"></script>

    <script src="~/layout_assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/layout_assets/js/jvectormap/regions/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/layout_assets/js/xenon-widgets.js"></script>

    <!-- JavaScripts initializations and stuff -->
    <script src="~/layout_assets/js/xenon-custom.js"></script>

    @RenderSection("scripts", required: false)
    <!-- Bottom Scripts -->
    @*FRESHDESK FEEDBACK WIDGET*@
    @if (User.Identity.IsAuthenticated && !User.IsInRole("Parent"))
    {
        <script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
        <script type="text/javascript">
                    FreshWidget.init("", { "queryString": "&widgetType=popup&formTitle=SIM+Help&submitThanks=%0D%0AThank+you+for+your+inquiry%2Ffeedback.+You+can+continue+to+do+other+task%2C+while+we+service+your+request.+We+shall+contact+you+soon+via+your+email.", "utf8": "✓", "widgetType": "popup", "buttonType": "text", "buttonText": "SIM Help", "buttonColor": "white", "buttonBg": "#000718", "alignment": "2", "offset": "235px", "submitThanks": "\r\nThank you for your inquiry/feedback. You can continue to do other task, while we service your request. We shall contact you soon via your email.", "formHeight": "500px", "url": "https://sim4eaglesbyte.freshdesk.com" });
        </script>
    }
    @*FRESHDESK FEEDBACK WIDGET*@

    @*Page loading animation*@
    @*<div class="page-loading-overlay">
            <div class="loader-2"></div>
        </div>*@

</body>
</html>
